// Colors

$Clr-primary-700: #14263c;
$Clr-primary-800: #0d1a2d;
$Clr-primary-400: #00fff8;
$Clr-Secondary-500: #8bacd9;

//Font Family

$Ff-primary: 'Outfit', sans-serif;

//Font weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;
